
/* Counter effect */
.stats-container {
  text-align: center;
  padding: 2rem;
}

.stats-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem;
  flex-wrap: wrap;
}

.stat-box {
  font-size: 1.3rem;
  /* background: linear-gradient(135deg, #007bff, red); */
  background: linear-gradient(135deg, #141312, black);
  padding: 1.2rem;
  min-width: 150px;
  text-align: center;
  color: white;

  border-radius: 16px;
  box-shadow: inset 4px 4px 12px #000, inset -2px -2px 8px white;
}

.stat-number {
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .stat-box {
    font-size: 1rem;
  }
}
