.laser-flow-container {
  margin-top: 8.1rem;
  width: 83%;
  height: 145%; 
  position: absolute; 
  pointer-events: none;
}

@media (max-width: 768px) {
  .laser-flow-container {
    display: none;
  }
}